body {
	font-family: sans-serif;
	color: #cdd6f4; /* Text */
	display: flex;
	background-color: #11111b; /* Crust */
	margin: 0;
	/* flex-direction: column; */
	align-items: center;
	justify-content: flex-start;
	height: 900px;
}

.blank {
	flex: 1;
}

.calcContainer {
	font-family: inherit;
	color: inherit;
	background-color: #6c7086; /* Overlay0 */
	flex: 0;
	flex-direction: column;
	display: flex;
	min-width: 500px;
	height: 700px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px black;
}

.display {
	font-family: inherit;
	font-size: 48px;
	display: inherit;
	flex-direction: column-reverse;
	flex-basis: auto;
	color: #181825; /* Mantle */
	background-color: #b4befe; /* Lavender */
	border-radius: 10px;
	height: 100px;
	margin: 15px;
}

.displayText {
	display: inherit;
	flex-basis: auto;
	justify-content: flex-end;
	margin: 5px;
}

.buttonContainer {
	font-family: inherit;
	display: grid;
	flex-grow: 1;
	background-color: #313244; /* Surface0 */
	border-radius: 10px;
	margin: 15px;
	grid-template: repeat(6, 1fr) / repeat(4, 1fr);
	grid-gap: 5px 5px;
}

.buttonContainer div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.operator {
	display: inherit;
	background-color: inherit;
	border: #11111b;
	border-width: 3px;
	border-style: dotted;
}

.operand {
	display: inherit;
	background-color: inherit;
	border: #11111b;
	border-width: 3px;
	border-style: solid;
}